*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space10{
    height: 10px;
}
.space30{
    height: 30px;
}
.space20{
    height: 20px;
}
.space50{
    height: 50px;
}
body{
    line-height:0.5;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-outline-danger{
      border: 3px solid!important;
  }

/* -------head mneu bar------- */


/* Chart */

.modal-title img{
    width: 100px;
}

.modal-content{
   border: none !important;
   color: white;
   border-radius: 0.5rem;
    background: rgb(195,34,97);
    background: linear-gradient(0deg, rgba(195,34,97,0.6604477611940298) 0%, rgba(140,45,253,0.8582089552238806) 100%);
}




/* --------Table part -------- */

.table-dark{
    background-color: transparent;
}

.btn-sm{
    padding: 0.1rem .5rem;
}
.chart-button .btn-primary{
    background-color: rgba(124, 23, 248, 0.858) !important;
    border-color: rgba(124, 23, 248, 0.858) !important;
}

.sub-model .modal-content{
    border: none !important;
    width: 70%;
    border-radius: 0.5rem;
    background: rgb(34,195,104);
    background: linear-gradient(0deg, rgba(34,195,104,0.9136029411764706) 0%, rgba(45,94,253,0.8582089552238806) 100%);
 }



.model-one .fa{
    color: white;
    background: rgba(124, 23, 248, 0.858);
    padding: 20px;
    border-radius: 50%;
}



 .modal-footer {
    justify-content: space-between;
 }
 .form-group {
     text-align: center;
 }
 .form-control{
     background-color: transparent;
     border: 1px solid transparent;
     border-bottom: 1px solid rgba(255, 255, 255, 0.513);
 }
 input{
     background-color: transparent;
     border: 1px solid transparent;
     border-bottom: 1px solid rgba(255, 255, 255, 0.513);
 }

 #table1 th{
font-weight: 300;
 }
 .input-group-text{
     line-height: 0.5rem;
 }
 .input-group .form-control{
     border: 1px solid transparent;
 }
.tr-border{
    border-top: 1px solid rgba(255, 255, 255, 0.513);
}

 .row{
     justify-content: space-between;
 }
 .row ul{
     text-decoration:none;
 }


 /* --------Header Cover Photo------ */
.header-cover-photo{
    border-radius: 10px;
    height: 500px;
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header-cover-photo img{
    height: 390px;
}
.left{
    width: 355px;
    margin: auto;
    padding: 5px;
}
.left h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 80px;
}
.left p{
    font-size: 15px;
    line-height: 30px;
    color: rgba(72, 81, 82, 0.384);
}
.left h2{
    color: #FF136F;
    font-weight: 600;
    line-height: 80px;
}
.left button{
    cursor: pointer;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    background: rgb(255,19,111);
    background: linear-gradient(0deg, rgba(255,19,111,1) 0%, rgba(255,88,155,1) 100%);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.left i{
    background-color: transparent;
}
@keyframes example{
    from {background: rgb(255,19,111);
        background: linear-gradient(0deg, rgba(255,19,111,1) 0%, rgba(255,88,155,1) 100%);
    }
    to {background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);}
}

/* -  End-------Header Cover Photo------ */

/* container start */

.h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.first-container div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.first-container div img{
    height: 110px;
}
.first-container h4{
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.category-box{
    width: 32%;
    height: 130px;
    border: 1px solid transparent;
    border-radius: 15px;
}

.category-box:first-child{
    background: rgb(255,156,53);
    background: linear-gradient(60deg, rgba(255,156,53,1) 0%, rgba(255,208,25,1) 100%);    
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.category-box:nth-child(2){
    background: rgb(63,7,248);
    background: linear-gradient(320deg, rgba(63,7,248,1) 0%, rgba(66,137,255,1) 100%);
    animation-name: second;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.category-box:last-child{
    background: rgb(255,19,111);
    background: linear-gradient(0deg, rgba(255,19,111,1) 0%, rgba(255,88,155,1) 100%);
    animation-name: third;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 2s;
}
@keyframes first{
    0% {background: rgb(255,156,53);
        background: linear-gradient(60deg, rgba(255,156,53,1) 0%, rgba(255,208,25,1) 100%);    
       }
       
    50% {background: rgb(63,7,248);
        background: linear-gradient(320deg, rgba(63,7,248,1) 0%, rgba(66,137,255,1) 100%);
    }
    100% {background: rgb(255,19,111);
        background: linear-gradient(0deg, rgba(255,19,111,1) 0%, rgba(255,88,155,1) 100%);
    }
}
@keyframes second{
       
    0% {background: rgb(63,7,248);
        background: linear-gradient(320deg, rgba(63,7,248,1) 0%, rgba(66,137,255,1) 100%);
    }
    50% {background: rgb(255,19,111);
        background: linear-gradient(0deg, rgba(255,19,111,1) 0%, rgba(255,88,155,1) 100%);
    }
    100% {background: rgb(255,156,53);
        background: linear-gradient(60deg, rgba(255,156,53,1) 0%, rgba(255,208,25,1) 100%);    
       }
    
}
@keyframes third {
    0% {background: rgb(255,19,111);
        background: linear-gradient(0deg, rgba(255,19,111,1) 0%, rgba(255,88,155,1) 100%);
    }
    50% {background: rgb(255,156,53);
        background: linear-gradient(60deg, rgba(255,156,53,1) 0%, rgba(255,208,25,1) 100%);    
       }
    100% {background: rgb(63,7,248);
        background: linear-gradient(320deg, rgba(63,7,248,1) 0%, rgba(66,137,255,1) 100%);
    }
    
  
}


/* ----------product list part---------- */
.category-name{
    padding: 50px;
    background-color: #FEEAE9;
    border-radius: 10px;
}
.see-all {
    font-size:15px ;
    color: rgb(228, 133, 9);
}
.product-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 25%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box i{
    background-color: transparent;
}
.box img{
    height: 250px;
    width: 250px;
}
.box h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
h6{
    /* padding-top: 10px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: rgba(81, 86, 87, 0.829);
    text-align: center;
    padding: 0 35px;
}
.product-button{
    cursor: pointer;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    /* color: #fff; */
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
}
.probut{
    justify-content: space-between;
}
